

<% if @form %>

<h1>Parse Gedcom</h1>


<div id="doc3" class="yui-t7">
   <div id="hd" role="banner">
     <h1>Local Timeline Example</h1>
     <p>This example reads a local data file from the disk and displays it using the Simile Timeline library. The software library is retrieved from servers via the Internet.</p>
     <p>The Timeline will grow automatically to fit the events. Scroll towards 2030 to see it grow. Click on an event to see its details.</p>
   </div>
   <div id="bd" role="main">


	   <div class="yui-g">
	     <div id='tl'></div>
	     <p>To move the Timeline: use the mouse scroll wheel, the arrow keys or grab and drag the Timeline.</p>
	   </div>

	   <br><br>
	   <div class="yui-g">
	     <div id='t2'></div>
	     <p>To move the Timeline: use the mouse scroll wheel, the arrow keys or grab and drag the Timeline.</p>
	   </div> 

	    <br><br>
	   <div class="yui-g">
	     <div id='my-timeline'></div>
	     <p>To move the Timeline: use the mouse scroll wheel, the arrow keys or grab and drag the Timeline.</p>
	   </div> 
	   
	 </div>
   <div id="ft" role="contentinfo">
     <p>Thanks to the <a href=''>Simile Timeline project</a> Timeline version <span id='tl_ver'></span></p>
     <script>Timeline.writeVersion('tl_ver')</script> 
   </div>
</div>


<% else %> 

<%= form_tag genealogy_timeline_path, multipart: true,
                    class: "nifty_form" do %><label for="exampleInputFile">File input</label>
  <%= file_field_tag :file %>
  <%= select_tag(:history_id, options_from_collection_for_select(History.where(approved: true), :id, :title))  %>
  <%= submit_tag "Import" , class: "btn btn-large btn-primary" %>
<% end %>


<% end %>
