<h1>Comparaison Chrono-généalogique</h1>


<%= render 'compareHisGedForm' %>

<h3>Données...</h3>
<ul>
<li>Chronologie selectionée (bleu) : <%= @history.title %></li>
<li> Fichier Gedcom parsé (rouge) : <%= @gedcom_name %></li>
</ul>	


<h3>Frise</h3>

<!--   <p>Timeline version <span id='tl_ver'></span>.</p>
      <script>Timeline.writeVersion('tl_ver')</script>

-->

<div id="my-timeline" class="timeline-default" style="height:600px;"> </div>



