<h1>Comparaison Chrono-généalogique</h1>


<%= render 'compareHisGedForm' %>

<h3>Données...</h3>
<ul>
<li>Chronologie selectionée (bleu) : <%= @history.title %></li>
<li> Fichier Gedcom parsé (rouge) : <%= @gedcom_name %></li>
</ul>	


<h3>Frise</h3>

<div class="row">
<div id="doc3" class="yui-t7">
   <div id="bd" role="main">

	   <div class="yui-g">
	     <div id='my-timeline'></div>
	     <p>To move the Timeline: use the mouse scroll wheel, the arrow keys or grab and drag the Timeline.</p>
	   </div> 
	   
	 </div>
   <div id="ft" role="contentinfo">
     <p>Thanks to the <a href=''>Simile Timeline project</a> Timeline version <span id='tl_ver'></span></p>
     <script>Timeline.writeVersion('tl_ver')</script> 
   </div>
</div>

</div>

