<h1>Comparaison histoire-histoire</h1>



<%= render 'compareHisHisForm' %>


<h3>Les données</h3>
<ul>
<li>Histoire 1 (bleu) : <%= History.find(@select1).title %></li>
<li>Histoire 2 (rouge) : <%= History.find(@select2).title  %></li>
</ul>	

<h3>Frise</h3>

<!--   <p>Timeline version <span id='tl_ver'></span>.</p>
      <script>Timeline.writeVersion('tl_ver')</script>

-->

<div id="my-timeline" class="timeline-default" style="height:600px;"> </div>





<!-- <div id="doc3" class="yui-t7">
   <div id="bd" role="main">

	   <div class="yui-g">
	     <div id='my-timeline'></div>
	     <p>To move the Timeline: use the mouse scroll wheel, the arrow keys or grab and drag the Timeline.</p>
	   </div> 
	   
	 </div>
</div>
 -->


