
<h1>Toutes les Histoires valides</h1>

    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th></th>
      </tr>
    <% @histories.each do |histo| %>
      <tr>
        <td><%= histo.title %></td>
        <td><%= histo.description %></td>
        <td><%= link_to 'Show', histo %></td>
      <% end %>
    </table>