<br>
<p>
  <a class="btn btn-primary btn-lg" role="button" href= "<%= history_path(@history)%>" >Texte</a>
</p>

<h1><%= @history.title %></h1>
     
<p><%= @history.description %></p>

<!--

   <p>Timeline version <span id='tl_ver'></span>.</p>
      <script>Timeline.writeVersion('tl_ver')</script>

-->
<div id="my-timeline" class="timeline-default" style="height: 600px;"> </div>
  

		