<% provide(:title, "Tous les Évènements" ) %>
<% provide(:meta_desc, "Tous les évènements classés par date de modification" ) %>

<h1>Tous les Évèvements</h1>

 <p>Il y a <%= @events.count %> évènements disponibles.</p>
  <ul>
   <%= render @events %>
  </ul>
 
<div class="pagination">
  <%= will_paginate @events, renderer: BootstrapPagination::Rails, bootstrap: 3   %>
</div> 



